body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#navBar {
  background-color: rgb(4, 2, 80);
  padding: 10px;
}
#search{
  margin-left: 400px;
  width: 800px;
}
#topHalf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#logo {
  width: 150px;
  height: 50px;
  color: #feffff;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid rgb(247, 242, 247);
  border-radius: 10px;
  font-size: 16px;
}

#sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
  
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  border: 1px solid #feffff;
  border-radius: 4px;
  padding: 8px;
  line-height: 1;
}

a:hover{
  background-color: #929395;
}

button {
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  color: #948989;
  border: 1px solid #ffffff;;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b6babe;
}

select {
  width: 200px;
  border: 1px solid rgb(243, 238, 238);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: #929395;
  background-color: rgb(4, 2, 80);
}

option {
  padding: 5px;
}


#department {
  font-weight: bold;
}